
<div class="container-fluid">
    <div class="page-header">
        <h1>Image Control</h1>
    </div>

    <input type="text" class="input-sm pull-right" ng-model="search.text" placeholder="search">
    <br><br>
    <div class="row">

        <div class="col-md-12">
            <table class="table table-bordered table-condensed">
                <thead>
                    <th></th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Tags</th>
                    <th>WxH</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Hide</th>
                </thead>
                <tbody>
                    <tr ng-repeat="img in images | filter: search.text">
                        <td><img src="{{'/public/images/' + img.path + '?dim=64x64';}}" alt="{{img.path}}"><br><small>{{img.path}}</small></td>
                        <td><em gg-editable-text="img.title" gg-is-editing="isEditing" gg-on-change="img.title=value; updateImg(img)"></em></td>
                        <td>
                            <select ng-model="img.category" class="form-control input-sm" ng-change="updateImg(img)">
                                <option ng-repeat="cat in categories" value="{{cat}}">{{cat}}</option>
                            </select>
                        </td>
                        <td>{{img.tags}}</td>
                        <td><em
                                gg-editable-text="img.width"
                                gg-is-editing="isEditing2"
                                gg-on-change="img.width=value; updateImg(img)"></em>x <em
                                gg-editable-text="img.height"
                                gg-is-editing="isEditing3"
                                gg-on-change="img.height=value; updateImg(img)"></em></td>
                        <td><em
                                gg-editable-text="img.desc"
                                gg-is-editing="isEditing4"
                                gg-on-change="img.desc=value; updateImg(img)"></em></td>
                        <td><em
                                gg-editable-text="img.location"
                                gg-is-editing="isEditing5"
                                gg-on-change="img.location=value; updateImg(img)"></em></td>
                        <td><em
                                gg-editable-text="img.date"
                                gg-is-editing="isEditing6"
                                gg-on-change="img.date=value; updateImg(img)"></em></td>
                        <td><input type="checkbox" ng-model="img.hide" ng-change="updateImg(img)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>